 <%= link_to c do %>
      <div class="col s12 m6 l4">
           <% if !vote.nil? && vote.include?(c) %>
  <div class="card-panel big no-vote">
        <% else %>
        <div class="card-panel big">
        <% end %>
          <div class="card-panel small">
            <div class="white pad">

            <p class="large-text"> <%= c.subject %> </p>
            <p> <%= c.client_name %> </p>
            <p> <%= c.status_display.capitalize %> </p>
            </div>
          </div>
        </div>
      </div>

      <% end %>


