<div class="col s12 m6 l4">
    <% if !vote.nil? && vote.include?(c) %>
        <div class="card-panel needs-vote">
    <% else %>
        <div class="card-panel">
    <% end %>
    <!--         <span class="white-text">
            I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
            </span> -->
            <h3> <%= link_to "#{c.subject}", c %> </h3>
            <p> <%= c.client_name %> </p>
            <p> <%= c.status_display.capitalize %> </p>
            <p> <%= c.summary %> </p>
        </div>
</div>
