<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="first_name" type="text" class="validate">
        <label for="first_name">Search for Case</label>
      </div>
    </div>
  </form>
</div>