<div class="row">
  <div class="col s6 m3 l3">
    <div class="card-panel y">
      <span class="white-text">  <h4> <%= all.count %> </h4> Total cases 
      </span>

  </div>
</div>

<div class="col s6 m3 l3">
    <div class="card-panel g">
      <span class="white-text"> 
      <h4><%= vote.count %> </h4>
      Cases need votes
      </span> 
    
  </div>
</div>

<div class="col s6 m3 l3">
    <div class="card-panel o">
      <span class="white-text"> <h4> <%= all.approved.count %> </h4>
       Approved Cases
      </span> 
      
  </div>
</div>

<div class="col s6 m3 l3">
    <div class="card-panel b">
      <span class="white-text"> 
       <h4> <%= all.rejected.count %> </h4>Rejected Cases:
      </span> 
     
  </div>
</div>


</div>
