<div class="row dash_buttons">
  <div class="col s6 m3 l3">
    <div class="card-panel y">
      <br>
      <span class="white-text">  <h5> <%= all.count %> </h5> Cases to date
      </span>

  </div>
</div>

<div class="col s6 m3 l3">
    <div class="card-panel g">
        <br>
      <span class="white-text"> 
      <h5><%= all.approved.count %> </h5>
      Approved Cases
      </span> 
    
  </div>
</div>

<div class="col s6 m3 l3">
    <div class="card-panel o">
      <br>
      <span class="white-text"> <h5> <%= vote.nil? ? 0 : vote.count %> </h5>
       Pending Cases
      </span> 
      
  </div>
</div>

<div class="col s6 m3 l3">
    <div class="card-panel b">
      <br>
      <span class="white-text"> 
       <h5> <%= number_to_currency(Case.total_amt_approved()) %> </h5> Amount approved
      </span> 
     
  </div>
</div>


</div>
