    <li class="timeline-item period">
        <div class="timeline-info"></div>
        <div class="timeline-marker"></div>
        <div class="timeline-content">
            <h2 class="timeline-title">
                <%= c.date_submitted.strftime("%B") %> 
                <%= c.date_submitted.strftime("%Y") %>
            </h2>
        </div>
    </li>