<script src="https://use.typekit.net/bkt6ydm.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<div class="container-fluid">
    <% (1..12).each do |mon| %>
        <% for c in Case.cases_in_month()
    <% for c in all_cases %>

    <%end%>
</div>