<script src="https://use.typekit.net/bkt6ydm.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>


<div class="container-fluid">
    <div class="row example-centered">
    <!-- <div class="row example-centered">
            <div class="col-md-12 example-title"> -->
        <%# yr = Time.now.year %>
        <% @years.each do |yr| %>
            <% (1..12).each do |mon| %>
                <% @cases = Case.cases_in_month(mon, yr) %>
                <% unless @cases.nil? || @cases.empty? %>
                    <%= render partial: "partials/timeline_month_title", locals: {c: @cases.first}%>

                    <%= render partial: "partials/timeline_month", locals: {all_cases: Case.cases_in_month(mon, yr)}%>
                <%# end %>
                <% end %>
            <%end%>
        <% end %>
    </div>
</div>