<div class = "card">
    <%= f.input :payable_to, placeholder: 'Payable To' %>
    <%= f.input :amount, as: :float, label: 'Amount', placeholder: 'Amount' %>
    <%= f.input :payment_type, placeholder: '' %>

    <%#= f.input :payment_type, :collection => ['Utilities','Rent','Other']%>
    <%= f.input :description, placeholder: 'Write description here...', as: :text, :input_html => { :rows => 10, :style => 'resize: none;'} %>
</div>