
<% if @payments_list && !@payments_list.empty? %>
<table class = "responsive-table centered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Payable To</th>
      <th>Description</th>
      <th>Amount</th>
      <!--         <th>Status</th> -->
    </tr>
  </thead>

  <tbody>
    <% @payments_list.each do |payment| %>
    <tr>
      <!-- <td> -->
      <%#if current_user.role? :admin%>
      <%#= link_to user.proper_name, edit_user_path(user)  %>
      <%# else %>
      <%#= user.proper_name %>
      <%# end %>
      <!-- </td> -->
      <td><%= payment.name %></td>
      <td><%= payment.payable_to %></td>
      <td><%= payment.description %></td>
      <td><%= payment.amount %></td>
      <!-- <td><%#= user.active ? "Active" : "Inactive" %></td> -->
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
There are no payments associated with this case.
<% end %>