   <br>
   <br>
   <% if !@active_users.empty? %>
   <span>
   <h3> Deacons and Staff 
   <%# if current_user.role? :admin %>
    <%#= link_to new_user_path do %>
      <!-- <i class="material-icons">add</i>  -->
    <%# end %>
    <%# end %>
    </h3>
    </span>
    <% if current_user.role? :admin %>
        <div class="center">
    <%= link_to '+ NEW USER', new_user_path, class: "btn orange lighten-2" %>
    </div>
     <% end %>
  <div class="row">
      <% @active_users.each do |user| %>
      <%= render partial: "user_card", locals: {user: user}%>
<%end%>
</div>

  <% else %>
  <p>Nothing to show.</p>
  <% end %>



<i class="fa fa-pencil" aria-hidden="true"></i>