<%# for c in @cases_current_user %>
<%#= render partial: "partials/card", locals: {c: c, vote: @cases_need_voting} %>

<%# end %>

<div class="center">
  <!-- <div class="card"> -->
  <div class="row info">

    <% for c in @all_cases %>
    <%= render partial: "partials/card", locals: {c: c, vote: @cases_need_voting} %>

    <% end %>

</div>