<% if logged_in? %>
<div class = "row">
  
  <% if current_user.role? :care_deacon %>
    <%= render "care_deacon" %>
  <% elsif (current_user.role? :head_deacon) || (current_user.role? :admin) %>
    <%= render "head_deacon" %>
  <% elsif current_user.role? :finantial_deacon %>
    <%= render "finantial_deacon" %>
  <% elsif current_user.role? :staff %>
    <%= render "staff" %>
  <% end %>

</div>
<% end %>
