<% if logged_in? %>

<br>
<br>
<br>

        <%= render "case_display" %>

        <%= render partial: "partials/timeline", locals: {all_cases: @all_cases}%>


      <% if current_user.role? :care_deacon %>
      <%#= render "care_deacon" %>
      <% elsif (current_user.role? :head_deacon) || (current_user.role? :admin) %>
      <%#= render "head_deacon" %>
      <% elsif current_user.role? :financial_deacon %>
      <%#= render "financial_deacon" %>
      <% elsif current_user.role? :staff %>
      <%#= render "staff" %>
      <% end %>
    </div>


    <% end %>




