@import "materialize/components/color";
$primary-color: color("deep-orange", "lighten-1") !default;
$secondary-color: color("brown", "darken-2") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "include-media";

html {

	font-family: GillSans;


	body {
		position: fixed;
		background-color: #eee;
		width: 100%;
		box-sizing: content-box;

		h1,h2,h3 {
			text-align: center;
		}



		#main {
			position: fixed;
			top: 17%;
			width: 70%;
			left: 15%;
			bottom: 10%;
			overflow: scroll;
			text-align: center;

			@include media(">phone", "<=tablet") {
				width: 90%;
				left: 5%;
			}
		}

		
		#welcome-nav {
			position: relative;
			top: 0%;
			height: 5%;
			width: inherit;
			text-align: right;
			padding: 0px;
			margin: 0px;
			border: 1px solid #eee;
			padding-right: 2%;

		}

		#search {
			position: relative;
			top: 13%;
			width: inherit;
			height: 4%;

		}
		nav.nav-extended {

			position: fixed;
			height: 15%;
			border-bottom: 1px solid #eee;

	

			#nav-2 {
				position: relative;
				top: 8%;
				height: 10%;
				width: inherit;
				border-bottom: 1px solid #eee;
			}

	
		}

		.card {
			padding: 3%;
			margin: 5%;
			text-align: left;

		}

		footer {
			position: fixed;
			bottom: 0px;
			width: 100%;
			height: 6%;
			color: #fff;
			text-align: center;

		}

	}
}
