@import "materialize/components/color";
$primary-color: color("indigo", "darken-4") !default;
$secondary-color: color("orange", "ligthen-2") !default;
@import 'materialize';

footer {
	position: fixed;
	height: 8%;
	bottom: 0px;
	width: 100%;
	color: #fff;
	text-align: center;
}
